[submodule "third_party/moira"]
	path = third_party/moira
	url = https://github.com/dirkwhoffmann/Moira.git
[submodule "third_party/play"]
	path = third_party/play
	url = https://github.com/jpd002/Play-.git
